<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Tạo Container</title>
    <link type="text/css" rel="stylesheet" href="bootstrap.min.css" th:href="@{bootstrap.min.css}"/>
</head>
<body>
<div class="col-3"></div>
<div class="container col-6">
    <h1>Tạo Container</h1>
    <div class="col-md-auto">
        <form th:object="${createContainer}" th:action="@{saveFolder}" action="#" method="post">
            <div>
                <label  th:for="folderName">Tạo Container</label>
                <input type="text" th:field="*{folderName}" class="form-control" placeholder="Tạo container"/>

                <label th:for="hang">Hãng Container</label>
                <input type="text" th:field="*{hang}" class="form-control" placeholder="Hãng container"/>
            </div>
            <div style="clear: both; display: block; height: 10px"></div>
            <input type="submit" class="btn btn-success" value="Lưu"/>
        </form>
    </div>
</div>
</body>
</html>