<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Image Details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container col-6">
    <img th:src="@{'/image/Logo-TCHaiPhong189.png'}" height="225px" width="700px"/>
</div>
<br>
<div class="banner-bootom-w3-agileits">
    <div class="container">
        <!-- tittle heading -->
        <h3 class="tittle-w3l text-center mb-lg-5 mb-sm-4 mb-3">
            <h1>Chi tiết hình ảnh</h1>
        <!-- //tittle heading -->
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left ">
                <div class="grid images_3_of_2">
                    <div class="flexslider">
                        <div class="thumb-image">
                            <img th:src="@{${'/image/display/'+id}}"
                                 class="img img-responsive img-fluid" alt="">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                <h2 class="mb-3">
                    Tên Ảnh: <span th:text="${name}"></span>
                </h2>
                <h2 class="mb-3">
                    Tên Container: <span th:text="${nameFolder}"></span>
                </h2>
                <br>
<!--                <a href="/showAllImage">Quay lại</a>-->
                &emsp;<a href="/" class="btn btn-danger">Trang chủ</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>